<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>STDOUT.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="org.hibernate.type" level="ALL"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.eclipse.persistence" level="ALL"/>
    <logger name="org.springframework.jdbc" level="ALL"/>
    <logger name="org.springframework.data.jpa" level="ALL"/>
    <logger name="org.springframework.dao" level="ALL"/>
    <logger name="org.springframework.orm" level="ALL"/>
    <logger name="logging.level.org.springframework.web" level="ALL"/>
    <root level="INFO"> <!-- ERROR, ALL, INFO, WARN-->
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>